__pycache__
*.pyc
build/
dist/
MANIFEST
.idea/
.ipynb_checkpoints/
*.egg-info/
venv/
*.vs*
*.exe
*.msi
*.aip
gcc-win/i686/MinGW GCC for Windows (x86)-cache/cacheIndex.txt
gcc-win/i686/MinGW GCC for Windows (x86)-cache/part1/disk1.cab
gcc-win/i686/MinGW GCC for Windows (x86)-cache/part1/output-info.ini
